<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <button (click)="ejecicio9()">Ejercicio 9</button> -->
    <!-- <app-ejercicio9-p></app-ejercicio9-p> NO HECHO-->
    <!-- <app-ej5></app-ej5> -->
    <!-- <app-ej6-p></app-ej6-p> -->
    <header>
        <app-header></app-header>
    </header>   
    
    <div class="contenedor-principal">
        <app-latizq></app-latizq>     
        <app-main-container></app-main-container> 
        <app-latder></app-latder>
    </div>
    <app-footer></app-footer>

</body>
</html>
